body {
    position: absolute;
    font-family: 'Cabin', sans-serif;
    background-color: #f9f9f4;
    width: 100%;
}

#score-board{
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    padding: 10px;
    background: #f9f9f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#score-board h2{
    margin: 0;
}

#title{
    
}

#move-count{
    
}

#matches-remaing{

}



#game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 88vw;
    height: 75vh;
    margin: 20px auto 5px auto;
    padding: 5px;
    border-radius: 18px;
    box-shadow: 5px 5px 5px 4px #888 inset;
    background-color: #f9f9f4;
}

.game-board-row{
    height: 25%;
    display: flex;
    flex-direction: row;
}

.game-piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 21.1%;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    box-shadow: 2.5px 2.5px 3px #666;
    background-color: #fff;
}

.game-piece:hover {
    background-color: grey;
}

.game-piece p{
    width: 100%;
    margin: 10px auto;
    visibility: hidden;
}