body {
    position: absolute;
    font-family: 'Cabin', sans-serif;
    background-color: #4fe5d3;
    width: 100%;
}

#score-board{
    width: 80%;
    margin: 10px auto 0 auto;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    
}

#move-count{
    text-align: center;
}

#matches-remaing{

}



#game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px auto 5px auto;
    padding: none;
    width: 88vw;
    height: 75vh;
    background-color: #fff;
}

.game-board-row{
    height: 25%;
    display: flex;
    flex-direction: row;
}

.game-piece {
    position: relative;
    width: 21.1%;
    margin: 15px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.game-piece:hover {
    background-color: grey;
}

.game-piece p{
    margin: 10px auto;
    visibility: hidden;
}